@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/860c3ec7bbc5da3e97233ccecafe512e.eot");
  src: url("../fonts/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"),
    url("../fonts/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"),
    url("../fonts/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Black";
  src: url("../fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.eot");
  src: url("../fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.woff2") format("woff2"),
    url("../fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.woff") format("woff"),
    url("../fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.ttf") format("truetype");
}
body {
  background: #f0f2f8;
  font-family: "Circular Std Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5e7c8d;
}

#app {
  overflow: hidden;
}
*:focus {
  outline: none !important;
}
a:hover,
a:focus {
  text-decoration: none;
}
button {
  cursor: pointer;
}
[v-cloak] {
  display: none;
}
#root {
  white-space: pre-line;
}
input::placeholder {
  color: #cecece !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cecece !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cecece !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cecece !important;
}
.container {
  max-width: 1300px;
}
.clear {
  clear: both;
}
/* colors */
.text-white {
  color: #ffffff;
}
.bg-white {
  background: #ffffff;
}
.text-blue-dark {
  color: #1b2958;
}
.bg-blue-dark {
  background: #1b2958;
}
.text-blue {
  color: #06adef;
}
.bg-blue {
  background: #06adef;
}
.text-orange {
  color: #ef8700;
}
.bg-orange {
  background: #ef8700;
}
.text-blue-light-1 {
  color: #f3fbfe;
}
.bg-blue-light-1 {
  background: #f3fbfe;
}
.text-gray-1 {
  color: #cacaca;
}
.bg-gray-1 {
  background: #cacaca;
}

.btn {
  padding: 10px 22px;
  font-weight: 800;
}
.btn.btn-lg {
  padding: 11px 40px;
}
.btn.btn-primary {
  background: #00aeef;
  border: 1px solid #00aeef;
}
.btn.btn-primary:hover {
  background: #0066ab;
  border: 1px solid #0066ab;
}
.btn.btn-primary-outline {
  color: #00aeef;
  background: #ffffff;
  border: 1px solid #00aeef;
}
.btn.btn-primary-outline:hover {
  color: #0066ab;
  background: #e3eef1;
  border: 1px solid #0066ab;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn.btn-gray-outline {
  color: #5e7c8d;
  background: #ffffff;
  border: 1px solid #c0c6d8;
}
.btn.btn-gray-outline:hover {
  color: #5e7c8d;
  background: #ebeff1;
  border: 1px solid #c4c4c4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn.btn-success-outline {
  color: #28a745;
  background: #ffffff;
  border: 1px solid #28a745;
}
.btn.btn-success-outline:hover {
  color: #177c2e;
  background: #d0f1d8;
  border: 1px solid #177c2e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn.btn-danger-outline {
  color: #dc3545;
  background: #ffffff;
  border: 1px solid #dc3545;
}
.btn.btn-danger-outline:hover {
  color: #dc3545;
  background: #fdf5f6;
  border: 1px solid #dc3545;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn.btn-secondary-outline {
  color: #ef8700;
  background: #ffffff;
  border: 1px solid #ef8700;
}
.btn.btn-secondary-outline:hover {
  color: #0066ab;
  background: #ffffff;
  border: 1px solid #0066ab;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn.btn-transparent {
  color: #00aeef;
  background: transparent;
  border: 1px solid transparent;
}
.btn.btn-transparent:hover {
  color: #0066ab;
  background: transparent;
  border: 1px solid transparent;
  opacity: 0.7;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  font-display: swap;
  font-family: "Circular Std Black";
}
h1 {
  font-size: 40px;
  font-weight: 900;
}
h2 {
  font-size: 34px;
  font-weight: 900;
}
@media (max-width: 769px) {
  .hide-on-small {
    display: none;
  }
  h1 {
    font-size: 2em;
    font-weight: 700;
  }
  h2 {
    font-size: 1.8em;
    font-weight: 700;
  }
}

.cursor-pointer {
  cursor: pointer;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
button[type="button"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0px 0 #ddd;
  outline: none;
  background: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
.form-group.has-error input {
  border: 1px solid #c72929 !important;
}
.not-found {
  height: 460px;
  margin-bottom: 100px;
  background-image: url("./../images/coming-soon.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 600px 460px;
  padding: 50px 0;
  position: relative;
}
.not-found::before {
  position: absolute;
  content: "Content not found at this moment!";
  bottom: -50px;
  left: 0;
  width: 100%;
  text-align: center;
}
.no-message {
  height: 460px;
  margin-bottom: 100px;
  background-image: url("./../images/no-messages.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 600px 460px;
  padding: 50px 0;
  position: relative;
}
.no-message::before {
  position: absolute;
  content: "You haven't received any message yet!";
  bottom: -50px;
  left: 0;
  width: 100%;
  text-align: center;
}
.no-search-message {
  height: 460px;
  margin-bottom: 100px;
  background-image: url("./../images/no-messages.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 600px 460px;
  padding: 50px 0;
  position: relative;
}
.no-search-message::before {
  position: absolute;
  content: "Message not found";
  bottom: -50px;
  left: 0;
  width: 100%;
  text-align: center;
}
.not-allowed {
  height: 460px;
  background-image: url("./../images/coming-soon.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 600px 460px;
  padding: 50px 0;
  position: relative;
}
.not-allowed::before {
  position: absolute;
  content: "Sorry, you are not allowed to view this page";
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 150x 0;
  text-align: center;
}
input.custom-input {
  margin: 10px 0;
  padding: 27px 15px !important;
  border: 1px solid #c0c6d8 !important;
}
.dash-container {
  margin: 20px auto;
  padding: 0 40px;
  display: block;
  font-size: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #00aeef;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #00aeef;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
.wrap-switch-toggle .switch-text {
  color: #c0c6d8;
  padding: auto 10px;
}
.wrap-switch-toggle .switch-text.active {
  color: #00aeef;
}
.wrap-actions {
  margin-top: 4px;
  position: relative;
}
.wrap-actions button,
.wrap-actions a {
  border: none;
  background: #f1f1f1;
  margin: 0 6px 0 0;
  padding:4px;
  border-radius: 3px;
  color: #898989;
  font-size: 9px!important;
}
.wrap-actions button img {
  height: 12px;
}

/* table */
.table thead {
  background: #f0f2f8;
  color: #5e7c8d;
}
.table tbody {
  margin: 20px 0 !important;
}
.table {
  border: 1px solid #f6f7f8;
}
.table tbody tr {
  border-bottom: 5px solid #f6f7f8;
  padding: 20px 0 !important;
}
.table tbody td {
  border-right: 1px solid #f6f7f8;
}

*/ .wrap-company {
  font-size: 18px;
  border: 1px solid #c0c6d8;
  padding: 30px 10px;
  border-radius: 5px;
}
.co-description {
  margin-top: 30px;
  background: #f0f2f8;
  padding: 30px 40px;
  border-radius: 5px;
}
.small-row {
  max-width: 660px;
}
.info-separator {
  background: #c0c6d8;
  height: 1px;
  margin: 15px 0;
  width: 100%;
}
.company-info {
  margin: 0px 35px;
}
.info-box {
  margin: 7px 0;
}
.info-box span {
  font-weight: 500;
  color: #1b2958;
}
.co-badge {
  font-size: 14px;
  padding: 5px 30px 5px 20px;
  background: #e1e4ec;
  border-radius: 24px;
  color: #1b2958;
  margin: 2px 6px 2px 0;
  display: inline-block;
  position: relative;
}
.co-badge.no-button {
  padding: 5px 20px !important;
}
.co-badge button {
  position: absolute;
  top: 3px;
  right: 8px;
  border: none;
  background: none;
  content: "";
  width: 18px;
  height: 18px;
  border: none !important;
  background: none !important;
}
.co-badge button img {
  width: 10px;
  height: 10px;
}
.floating-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
}
.v-toast__item--success {
  background-color: #28a745 !important;
}

.status {
  position: relative;
  top: -4px;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 200;
  color: #fff;
}
.status.approved {
  background: #74d19b;
}
.status.pending {
  background: #68abe2;
}
.status.declined {
  background: #f0ae63;
}
.status.deleted {
  background: #eb5454;
}

.page-nav {
  margin: 0;
  position: relative;
  z-index: 1;
}
.page-nav a {
  color: #5e7c8d;
  font-size: 20px;
  font-weight: light;
}
.page-nav .list-active a {
  color: #1b2958;
  font-weight: 800;
}
@media screen and (max-width: 600px) {
  .page-nav .list-active::before {
    display: none;
  }
}
.page-info {
  padding: 20px 40px 5px 20px;
  background: #f0f2f8;
  z-index: 1;
}
.page-info h2 {
  padding: 20px 0;
  background: #f0f2f8;
  color: #00aeef;
  font-size: 45px;
}
/* .page-info button {
  border: 1px solid #00AEEF;
  padding: 2px 10px!important;
  background: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  color: #00AEEF;
} */

@media (min-width: 1025px) {
  .wrap-content-head-btns {
    position: absolute;
    right: 30px;
    bottom: 15px;
    z-index: 1;
    min-width: 200px;
  }
  /* .page-info .wrap-content-head-btns button,
  .page-info .wrap-content-head-btns a {
    padding: 8px 15px;
    font-size: 12px;
    float: left;
  } */
  .page-info .wrap-content-head-btns a {
    float: left;
  }
  .page-nav .list-active {
    position: relative;
  }
  .page-nav .list-active::before {
    height: 4px;
    background: #00aeef;
    position: absolute;
    bottom: -20px;
    width: 100%;
    content: "";
  }
}
@media (max-width: 1024px) {
  .wrap-content-head-btns {
    width: 100%;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
  }
  .page-info .wrap-content-head-btns button,
  .page-info .wrap-content-head-btns a {
    padding: 8px 15px;
    font-size: 12px;
    float: left;
  }
}

.btn-back {
  position: relative;
}

.image {
  width: 100%;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.avatar {
  border-radius: 50% !important;
  background-color: #c0c6d8;
}

.s-one-activity {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.s-one-activity button {
  position: absolute;
  font-size: 14px;
  color: #747474;
  top: 12px;
  right: 5px;
  border: none;
  background: none;
}

.wrap-post-content {
  margin: 30px auto 0 auto;
  width: 100%;
  max-width: 1280px;
  display: block;
  text-align: left;
  padding: 30px 0;
}
.wrap-post-content h1,
.ql-editor h1 {
  font-size: 22px;
}
.wrap-post-content h2,
.ql-editor h2 {
  font-size: 20px;
}
.wrap-post-content h3,
.ql-editor h3 {
  font-size: 18px;
}
.wrap-post-content h4,
.ql-editor h4,
.wrap-post-content h5,
.ql-editor h5,
.wrap-post-content h6,
.ql-editor h {
  font-size: 16px;
}

.select-image {
  border: 1px solid #5e7c8d;
  background: #ffffff !important;
  border-radius: 3px;
}

.page-header {
  background-attachment: scroll;
  background-position: center top;
  padding: 80px 0;
  text-align: center;
  position: relative;
}
.page-header h1,
.subtitle {
  color: #ffffff;
  position: relative;
  z-index: 5;
}
.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.subtitle {
  max-width: 770px;
  margin: 0 auto;
  display: block;
}
.page-search {
  position: relative;
  margin: 10px auto;
  display: flex;
  max-width: 540px;
  width: 90%;
  background: #ffffff;
  z-index: 12;
  border-radius: 3px;
}
.page-search button {
  width: 50px;
  padding: 5px;
  border: none;
  background: none;
}
.page-search input {
  width: calc(100% - 50px);
  padding: 4px 10px;
  border: none;
  background: none;
}
.empty-post {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 120px auto;
  display: block;
  text-align: center;
}
.empty-post img {
  margin: 15px auto;
  display: block;
  width: 200px;
}
.divider {
  clear: both;
  height: 1px;
}

.co-info {
  color: #5e7c8d;
  font-size: 18px;
  position: relative;
}
.co-info i {
  font-size: 13px;
  position: relative;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.wrap-filters-box {
  background: #ffffff;
  padding: 12px 0;
  margin-bottom: 20px;
}
.wrap-filters {
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}
/* Reset Select */
.filter-select {
  /* border: 1px solid red; */
}
.filter-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  background-image: none;
  color: #1b2958;
}
/* Remove IE arrow */
.filter-select select::-ms-expand {
  display: none;
}
/* Custom Select */
.filter-select {
  position: relative;
  line-height: 3;
  margin-right: 10px;
  background: #1b2958;
  overflow: hidden;
}
.filter-select select {
  flex: 1;
  padding: 0 0;
  cursor: pointer;
  color: #1b2958;
}
/* Arrow */
.filter-select::before {
  content: "\25BF";
  position: absolute;
  color: #6b6b6b;
  top: 0;
  right: 0;
  padding: 0 5px;
  background: none;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  z-index: 5;
}
.filter-select::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 100px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 66%
  );
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.filter-select:hover::before {
  color: #f39c12;
}

@media (min-width: 1025px) {
  .wrap-filters-box {
    padding: 12px 0;
    background: #ffffff;
    margin-bottom: 20px;
    height: 75px;
  }
  .wrap-filters {
    max-width: 1100px;
    display: block;
    margin: 0 auto;
  }
  .filter-select {
    position: relative;
    display: flex;
    width: auto;
    min-width: 160px;
    max-width: 210px;
    height: 50px;
    line-height: 3;
    float: left;
    margin-right: 10px;
    background: #1b2958;
    overflow: hidden;
  }
}
@media (max-width: 1025px) {
  .wrap-filters-box {
    margin-bottom: 25px;
    padding: 0 20px 20px 20px;
    clear: both;
  }
  .filter-select {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
  }
  .filter-select select {
    cursor: pointer;
    color: #1b2958;
  }
  .wrap-filters-box .float-right {
    float: none;
    width: 100%;
  }
}

.wrap-filters button {
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  background: none;
  margin: 5px 0;
  padding: 12px 16px;
  font-size: 14px;
  color: #646464;
}

.wrap-one-post {
  background: #fff;
  box-shadow: 0px 4px 16px rgba(27, 41, 88, 0.08);
  border-radius: 3px;
  margin-bottom: 40px;
  clear: both;
}
.post-info {
  padding: 20px;
}

@media (min-width: 1025px) {
  .wrap-one-post {
    height: 420px;
  }
}
@media (max-width: 1024px) {
  .wrap-one-post {
    height: auto;
  }
}
.post-info h2 {
  font-size: 28px;
}
.post-category {
  position: absolute;
  top: -18px;
  padding: 5px 15px;
  background: #fef2e3;
  color: #ef8700;
}
.post-content {
  font-weight: 200 !important;
  font-size: 16px !important;
  max-height: 120px;
  overflow: hidden;
}
.one-post-image {
  width: 100%;
}
.one-post-image img {
  width: 100%;
}

.wrap-pagination {
  padding: 25px 36px;
}
.wrap-pagination button {
  border: 2px solid #06adef;
  background: #06adef;
  padding: 2px 22px;
  margin-right: 5px;
  cursor: pointer;
}
.wrap-pagination button:disabled,
.wrap-pagination button[disabled] {
  border: 2px solid #a7bdc7;
  background-color: #a7bdc7;
  color: #777777;
  cursor: unset;
  pointer-events: all !important;
}
.wrap-pagination button:disabled img,
.wrap-pagination button[disabled] img {
  opacity: 0.2;
}
.wrap-pagination span {
  position: relative;
  border: 2px solid #d5d8e4;
  top: 2px;
  margin-right: 5px;
  background: #ffffff;
  padding: 6px 18px;
  text-align: center;
  cursor: pointer;
}
.wrap-pagination span.active-page {
  border: 2px solid #06adef;
  background: #06adef;
  color: #ffffff;
}

.wrap-one-event {
  background: #fff;
  box-shadow: 0px 4px 16px rgba(27, 41, 88, 0.08);
  border-radius: 3px;
  margin-bottom: 40px;
}
.post-category {
  position: absolute;
  top: -18px;
  padding: 5px 15px;
  background: #fef2e3;
  color: #ef8700;
}
.post-content {
  font-weight: 200 !important;
  font-size: 16px !important;
  max-height: 120px;
  overflow: hidden;
}
.one-event-image {
  width: 100%;
  position: relative;
}
.one-event-image h2 {
  position: absolute;
  padding: 10px 20px;
  bottom: 5px;
  font-size: 28px;
  color: #ffffff;
}
.one-event-image::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.one-event-image img {
  width: 100%;
}

.wrap-dash-box {
  margin: 0 auto;
  display: 0 auto;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0px 17px 36px #1b295814;
}

.wrap-notifications {
  right: 0;
  z-index: 13000;
  width: 400px;
  background: #fff;
}

.agile {
  width: 100%;
}
.agile__actions {
  margin-top: 20px;
}
.agile__nav-button {
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 24px;
  transition-duration: 0.3s;
}
.agile__nav-button:hover {
  color: #888;
}
.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button,
.agile__dot:hover button {
  background-color: #888;
}

.wrap-one-slide {
  padding: 10px;
  width: 250px;
}
.slide {
  width: 100%;
  margin: 0!important;
  height: 250px;
  padding: 5px;
  cursor: pointer;
}
.wrap-cat {
  width: 100%;
  margin: 5px!important;
  height: 240px;
  border: 2px solid #a8a8a8cb;
}

.wrap-cat img {
  display: block;
  max-width: 120px;
  margin: 20px auto 6px auto;
}
.slide h3 {
  padding: 5px 0 10px 0;
  font-size: 23px;
  font-weight: 700;
  height: 65px;
}

@media screen and (max-width: 740px) {
  .slide {
    margin: 0 5px!important;
    height: 200px;
  }
  .slide img {
    max-width: 70px;
    margin: 10px auto;
    height: 80px;
  }
  .slide h3 {
    padding: 6px 0;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
  }
}

.vm--modal .close {
  padding: 8px;
  margin: 8px;
}
.vm--modal .close img {
  width: 18px!important;
}
.table > tbody > tr > td {
  vertical-align: middle;
}